<!DOCTYPE html>
<html lang="en">
<head>
  <title>Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
  </script>
</head>
<body>

<div class="container">
  <h2>Password Vault</h2>
       <table class="table table-hover" id = "tblData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Checkin</th>
        <th>Checkout</th>
        <th>Present</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < (undefined !== data && data.length);i++) { %>
      <tr>
        <td><%=data[i].name%></td>
        <% dateO = data[i].date;
           dateS = dateO.toString();
           dates = dateS.substring(0,15); 
	 %>
        <td><%=dates%></td>
        <td><%=data[i].checkin%></td>
        <td><%=data[i].checkout%></td>
        <td><%=data[i].present%></td>
        <% let c = data[i].checkin;
           let o = data[i].checkout;  
           let chrs = c.substring(0, 2);
           if(data[i].checkout!=null){
           let ohrs = o.substring(0,2);
           let cmin = c.substring(3,5);
           let omin = o.substring(3,5);
           chrs = parseInt((chrs * 60))+ parseInt(cmin);
           ohrs = parseInt((ohrs *60))+ parseInt(omin) ;
           total = ohrs - chrs;
           hours = parseFloat(total/60);
           hours = hours.toFixed(2);
           let hourString =hours.toString();
let hrs = hourString.split(".");
	   let minString = hrs[1];
           let min = (parseInt(minString)*0.60).toFixed(0).toString();
           
           hours = hrs[0] +"."+ min; 
               %>
            <td><%=hours%></td>
            <% } %>
      </tr>
     <% }
     %>
    </tbody>
  </table>
   <div class="card-footer">
   <a href="/lunchtab" class="btn btn-primary" style= "margin:0px 20px 0 20px; background-color : #00c8fe;" class="btn btn-danger btn-sm" >Lunch logs</a>
             
           <button class="btn btn-primary" style= "margin:0px 20px 0 20px; background-color : #00c853;" onclick="exportTableToExcel('tblData')">Export Table Data To Excel File</button>
           <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
            </div> 
  </diV>   
    <br/>    
</div>
<script>
function myFunction() {
  

for(var j=0; j<(undefined !== data && data.length);i++ )
{
  let cin = data[i].checkin;
  let cout = data[i].checkout;
document.getElementById("hrs").innerHTML = myFunction();
}
}

</script>
</body>
</html>
